#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, bool_t, int_t

gen = ParameterGenerator()
gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)

combo_enum = gen.enum([ gen.const("Overwrite", int_t,  0, "Overwrite values"),
                        gen.const("Maximum",   int_t,  1, "Take the maximum of the values"),
                        gen.const("IfUnknown", int_t,  2, "Update if the voxel is unknown"),
                        gen.const("Nothing",   int_t, 99, "Do nothing")
                      ],
                      "Method for combining layers enum")

gen.add("combination_method", int_t, 0, "Method for combining two layers", 1, edit_method=combo_enum)

exit(gen.generate("costmap_3d", "costmap_3d", "GenericPlugin"))
