<launch>
  <master auto="start"/>

  <!-- Run the move base translator -->
  <node pkg="move_base_client" type="move_base_translator" name="move_base_translator">
    <param name="action_name" value="move_base" />
  </node>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find willow_maps)/willow-full-0.05.pgm 0.05"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="footprint_padding" value="0.01" />

    <rosparam file="$(find 2dnav_erratic)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find 2dnav_erratic)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find 2dnav_erratic)/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find 2dnav_erratic)/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find 2dnav_erratic)/move_base/navfn_params.yaml" command="load" />
    <rosparam file="$(find 2dnav_erratic)/move_base/base_local_planner_params.yaml" command="load" />

  </node>
</launch>
