<launch>
  <!-- Make Sure We Warn Folks That Things Are Deprecated-->
  <node pkg="move_base" type="warner.py" name="move_base_0.3_to_0.2_warner" output="screen">
    <param name="string" value="You are launching the move_base_0.3_to_0.2.launch file which allows for a deprecated interface to move_base to be used. Please update your code and remove this launch file as soon as possible" />
    <param name="period" value="20.0" />
  </node>
  <!-- Remappings for move_base -->
  <node pkg="move_base" type="subtopic_forwarder_node.py" name="move_base_simple_goal_forwarder">
    <param name="source_topic" value="move_base/activate" />
    <param name="destination_topic" value="move_base_simple/goal" />
  </node>

  <node pkg="move_base" type="subtopic_forwarder_node.py" name="move_base_base_pos">
    <param name="source_topic" value="move_base/feedback/base_position" />
    <param name="destination_topic" value="move_base/current_position" />
  </node>

  <!--- Remappings for TrajectoryPlannerROS -->
  <node pkg="move_base" type="subtopic_forwarder_node.py" name="tp_global_plan_forwarder">
    <param name="source_topic" value="TrajectoryPlannerROS/global_plan" />
    <param name="destination_topic" value="move_base/TrajectoryPlannerROS/global_plan" />
  </node>

  <node pkg="move_base" type="subtopic_forwarder_node.py" name="tp_local_plan_forwarder">
    <param name="source_topic" value="TrajectoryPlannerROS/local_plan" />
    <param name="destination_topic" value="move_base/TrajectoryPlannerROS/local_plan" />
  </node>

  <!--- Remappings for NavfnROS -->
  <node pkg="move_base" type="subtopic_forwarder_node.py" name="navfn_plan_forwarder">
    <param name="source_topic" value="NavfnROS/plan" />
    <param name="destination_topic" value="move_base/NavfnROS/plan" />
  </node>

  <!--- Remappings for Global Costmap -->
  <node pkg="move_base" type="subtopic_forwarder_node.py" name="global_cm_obstacles_forwarder">
    <param name="source_topic" value="global_costmap/obstacles" />
    <param name="destination_topic" value="move_base/global_costmap/obstacles" />
  </node>

  <node pkg="move_base" type="subtopic_forwarder_node.py" name="global_cm_inf_obstacles_forwarder">
    <param name="source_topic" value="global_costmap/inflated_obstacles" />
    <param name="destination_topic" value="move_base/global_costmap/inflated_obstacles" />
  </node>

  <!--- Remappings for Local Costmap -->
  <node pkg="move_base" type="subtopic_forwarder_node.py" name="local_cm_obstacles_forwarder" output="screen">
    <param name="source_topic" value="local_costmap/obstacles" />
    <param name="destination_topic" value="move_base/local_costmap/obstacles" />
  </node>

  <node pkg="move_base" type="subtopic_forwarder_node.py" name="local_cm_inf_obstacles_forwarder">
    <param name="source_topic" value="local_costmap/inflated_obstacles" />
    <param name="destination_topic" value="move_base/local_costmap/inflated_obstacles" />
  </node>

  <!--- Remappings for Robot Footprint -->
  <node pkg="move_base" type="subtopic_forwarder_node.py" name="local_cm_footprint_forwarder">
    <param name="source_topic" value="local_costmap/robot_footprint" />
    <param name="destination_topic" value="move_base/TrajectoryPlannerROS/robot_footprint" />
  </node>
</launch>
