<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  
  <arg name="site_name" default="riseholme" />



  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find mel_amcl)/config/datums/$(arg site_name).yaml" />      
    <!-- Placeholders for input remapping. Set your topic names as the "to" values. -->
    <remap from="imu/data" to="yaw"/> 
    <remap from="odometry/filtered" to="odometry/gps"/>
    <remap from="gps/fix" to="gps/fix"/>
    <remap from="odometry/gps" to="odometry/gps/unfiltered"/>
  </node>


  <!-- GPS mask for high error data -->
  <node pkg="mel_amcl" type="gps_odom_mask.py" name="gps_odom_mask" clear_params="true">
    <remap from="odometry/gps" to="odometry/gps/unfiltered"/>
  </node>

  <!-- load parameters for eKFs: odom, map and separate gps -->
  <rosparam command="load" file="$(find mel_amcl)/config/mapping_with_rtk.yaml" />

  <!-- eKF for the odom frame using gps -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true">
    <remap from="odometry/filtered" to="odometry/gps"/>
    <remap from="odometry/gps" to="odometry/gps/mask"/>
    <remap from="/yaw" to="/yaw/mask"/>
  </node>


</launch>
