<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>


  <param name="/use_sim_time" value="true"/>

  <!-- Play rosbag -->
  <arg name="path" default="$(find mel_amcl)/bag_data/map_frame/" />
  <!-- <arg name="path" default="/home/michael/Documents/Saga\ start/Localisation/" /> -->
  <!-- <arg name="file_name" default="tall_robot_data_2019-08-14-12-48-50.bag" /> -->
  <arg name="file_name" default="tall_robot_data_2019-08-20-15-17-25.bag" />
  <node pkg="rosbag" type="play" name="player1" output="screen" args="$(arg path)$(arg file_name)
   -r 1 -u 2 -k --topics /tf_static"/>
  <node pkg="rosbag" type="play" name="player2" output="screen" args="--clock $(arg path)$(arg file_name)
   -r 1 --topics /odometry/base_raw /tf_static /gps/fix /yaw /twist_mux/cmd_vel /scan /nmea/main_GGA /imu/data"/>
  

  <!-- static transform publisher for the "main" gps receiver (where lat, lon comes from) -->
  <!-- <node name="septentrio_tf" pkg="tf" type="static_transform_publisher" respawn="true" args="-0.30 0 0.41 0.0698131 0 0 base_link septentrio 100" output="log">
  </node> -->

  <!-- this might be neccessary to make yaw enu format -->
  <!-- <node pkg="mel_amcl" type="yaw_republisher.py" name="yaw_republisher" clear_params="true">
  </node> -->
  
  <!-- load parameters for eKFs: odom, map and separate gps -->
  <rosparam command="load" file="$(find mel_amcl)/config/mapping_with_rtk.yaml" />

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
      <!-- Placeholders for input remapping. Set your topic names as the "to" values. -->
      <remap from="imu/data" to="yaw"/> 
      <remap from="odometry/filtered" to="rl/odom"/>
      <remap from="gps/fix" to="gps/fix"/>
  </node>


  <!-- eKF for the odom frame -->
  <node pkg="mel_amcl" type="gps_odom_mask.py" name="gps_odom_mask" clear_params="true">
  </node>


  <!-- eKF for the odom frame -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true">
    <remap from="odometry/filtered" to="rl/odom"/>
    <remap from="odometry/gps" to="odometry/gps/mask"/>
    <remap from="/yaw" to="/yaw/mask"/>

  </node>

  <!-- eKF for the map frame -->
  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_map" clear_params="true">
    <remap from="odometry/filtered" to="rl/map"/>
  </node> -->


  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz"/>
       <!--    args="-d $(find rasberry_bringup)/resources/row_traversal_action.rviz"/> -->


</launch>
