<launch>

  <arg name="site_name" default="riseholme" />

  <node pkg="mel_amcl" type="run_mapproxy.sh" name="mapproxy"></node>


  <node pkg="mapviz" type="mapviz" name="mapviz"></node>

  <rosparam file="$(find mel_amcl)/config/datums/$(arg site_name).yaml" command="load"/>
  
  <node pkg="swri_transform_util" type="initialize_origin.py" name="mapviz_initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="dont_change_this"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />



</launch>
