<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find mel_amcl)/config/navsat_gps_log.yaml" />

      <!-- Placeholders for input remapping. Set your topic names as the "to" values. -->
      <remap from="imu/data" to="yaw"/> 
      <remap from="odometry/filtered" to="rl/map_pose"/>
      
      <remap from="gps/fix" to="gps/fix"/>

  </node>
</launch>