<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>


  <arg name="use_omni" default="true" />
  <arg name="use_gps" default="true" />



  <!-- launch amcl but dont publish map->odom tf as this is handled by ekf_se_map -->
  <include file="$(find mel_amcl)/launch/mel_amcl.launch">
      <arg name="use_omni" value="$(arg use_omni)" />
      <arg name="use_gps" value="$(arg use_gps)" />
      <arg name="use_gps_odom" value="$(arg use_gps)" />
  </include>



  <!-- load parameters for eKFs: odom, and separate gps -->
  <rosparam command="load" file="$(find mel_amcl)/config/rasberry_ekf.yaml" />


  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
      <!-- Placeholders for input remapping. Set your topic names as the "to" values. -->
      <remap from="imu/data" to="yaw"/> 
      <remap from="odometry/filtered" to="odometry/gps"/>
      <remap from="gps/fix" to="gps/fix"/>
      <remap from="odometry/gps" to="odometry/gps/unfiltered"/>
  </node>


  <!-- eKF for the odom frame -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true">
    <remap from="odometry/filtered" to="rl/odom"/>
  </node>


  <!-- eKF for the gps in map frame, to use output, set use_gps_odom arg in mel_amcl to true --> 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" clear_params="true">
    <remap from="odometry/filtered" to="odometry/gps"/>
  </node> 


</launch>
