<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>


  <param name="/use_sim_time" value="true"/>

  <!-- Play rosbag -->
  <arg name="path" default="/media/michael/DATA/SickBag/" />
  <!-- <arg name="path" default="/home/michael/Documents/Saga\ start/Localisation/" /> -->
  <arg name="file_name" default="sick_bag_2019-08-23-18-00-39.bag" />
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path)$(arg file_name)
   -r 2 /sick_safetyscanners/scan:=/scan" />

  <!-- Load rtk map -->
  <arg name="map_file" default="$(find mel_amcl)/maps/riseholme_rtk_fix.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!-- static transform publisher for sick lidar -->
  <node name="sick_tf" pkg="tf" type="static_transform_publisher" respawn="true" args="0.73 -0.456 0.41 -0.79 0 0 base_link sick_front 50" output="log">
  </node>

 <!--  <include file="$(find mel_amcl)/launch/amcl.launch"/> -->



  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz"/>
       <!--    args="-d $(find rasberry_bringup)/resources/row_traversal_action.rviz"/> -->

</launch>
