#!/usr/bin/env python

PACKAGE='costmap_2d'
import roslib; roslib.load_manifest(PACKAGE)

import sys
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
exit(gen.generate(PACKAGE, "costmap_2d", "GenericPlugin"))
